<form class="{{module}}">
  <span class="instruction">{{{localize "ET.Dialog.Instructions.Token"}}}</span>
  <div class="effects">
    <div class="header">
      <span>{{localize "EFFECT.Name"}}</span>
      {{#if self}}
      <span>{{localize "DND5E.TargetSelf"}}</span>
      {{/if}}
      <span>{{localize "DND5E.Target"}}</span>
    </div>
    <div class="transferrable-effects">
      {{#each effects}}
      <div class="effect">
        <span data-tooltip="{{description}}" data-tooltip-direction="LEFT">{{name}}</span>
        {{#if ../self}}
        <input type="checkbox" data-type="self" data-id="{{id}}" {{checked (not disableSelf)}} {{disabled disableSelf}}>
        {{/if}}
        <input type="checkbox" data-type="target" data-id="{{id}}" {{checked (not disableTar)}} {{disabled disableTar}}>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="buttons">
    {{#if self}}
    <button type="button" data-type="ALL">
      <i class="fa-solid fa-check"></i> {{localize "ET.Dialog.Button.Apply"}}
    </button>
    <div class="specifics">
      <button type="button" data-type="SELF">
        <i class="fa-solid fa-user"></i> {{localize "ET.Dialog.Button.Self"}}
      </button>
      <button type="button" data-type="TARGET">
        <i class="fa-solid fa-bullseye"></i> {{localize "ET.Dialog.Button.Targets"}}
      </button>
    </div>
    {{else}}
    <button type="button" data-type="TARGET">
      <i class="fa-solid fa-bullseye"></i> {{localize "ET.Dialog.Button.Targets"}}
    </button>
    {{/if}}
  </div>
</form>
